{% extends "layout.html" %}

{% block content %}
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.pinimg.com/474x/be/34/9b/be349bd996afd2117a7f2a07cb3bd655.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Sakura</h5>
          <p>Disfruta de nuestro menu de Postres</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.pinimg.com/236x/58/f2/ba/58f2bac0d0180c47f48736d3c43a5ed4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Sakura</h5>
          <p>¡Drisfruta!</p>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!------fin carousel--------------->
<!------inf2--------------->
<br><br>
<div class="container text-center">
    <div class="row">
    <div id="e" class="col-md-6 offset-md-3">¡Bienvenido a la experiencia refrescante y deliciosa de las bebidas en "Sakura"!

        Nuestra amplia selección de bebidas está diseñada para complementar perfectamente tu comida japonesa y elevar tu experiencia gastronómica a otro nivel.</div>
    </div>
</div>

<!------fin inf2--------------->
    <h1 class="h1">Bebidas Frias</h1>
    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Agua</span>
                <img src="static/img/bebidas/agua.png" alt="" class="img-item">
                <span class="precio-item">$15,00</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Boba</span>
                <img src="static/img/bebidas/boba.png" alt="" class="img-item">
                <span class="precio-item">$25,00</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Coca</span>
                <img src="static/img/bebidas/coca.png" alt="" class="img-item">
                <span class="precio-item">$35,00</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Frappe</span>
                <img src="static/img/bebidas/frappe.png" alt="" class="img-item">
                <span class="precio-item">$18,00</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Jugo de Limon</span>
                <img src="static/img/bebidas/jugo_limon.png" alt="" class="img-item">
                <span class="precio-item">$18,00</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Jugo de Naranja</span>
                <img src="static/img/bebidas/jugo_naranja.png" alt="" class="img-item">
                <span class="precio-item">$18,00</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Jugo de Toronja</span>
                <img src="static/img/bebidas/jugo_toronja.png" alt="" class="img-item">
                <span class="precio-item">$18,00</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
                <!-- 
                <div class="carrito-item">
                    <img src="img/boxengasse.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Box Engasse</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="1" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$15.000,00</span>
                    </div>
                   <span class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </span>
                </div>
                <div class="carrito-item">
                    <img src="img/skinglam.png" width="80px" alt="">
                    <div class="carrito-item-detalles">
                        <span class="carrito-item-titulo">Skin Glam</span>
                        <div class="selector-cantidad">
                            <i class="fa-solid fa-minus restar-cantidad"></i>
                            <input type="text" value="3" class="carrito-item-cantidad" disabled>
                            <i class="fa-solid fa-plus sumar-cantidad"></i>
                        </div>
                        <span class="carrito-item-precio">$18.000,00</span>
                    </div>
                   <button class="btn-eliminar">
                        <i class="fa-solid fa-trash"></i>
                   </button>
                </div>
                 -->
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $120.000,00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
  {% endblock %}
