{% extends "layoutA.html" %}

{% block content %}
   <br><br>
<center> <table class="tb"width="100%" border="1" cellpadding="0" bordercolor="#000000">
  <tbody>
  <tr>
  <td class="lt" color="FFFFFF" bgcolor="#BB2E00" valign="top">
  <right><h3><a class="lk" href="/comentarios">Agregar</a></h3></right>
  <center><h5>Pedidos</h5></center>
  <table width="100%" border="1" cellpadding="0" bordercolor="#000000">
  <thead>
    <tr>
      <td class="lt" color="white" bgcolor="#242633">Nombre</td>
      <td class="lt" color="white" bgcolor="#242633">Razon</td>
      <td class="lt" color="white" bgcolor="#242633">Mensaje</td>
      <td class="lt" color="white" bgcolor="#2b1303"></td>
      <td class="lt" color="white" bgcolor="#2b1303"></td>
    </tr>
  </thead>
  <tbody>
  {% for i in comentarios %}
      <tr>
      <td width="28%">
         {{i.1}}
      </td>
      <td width="28%">
         {{i.2}}
      </td>
      <td width="28%">
          {{i.3}}
      </td>
      <td bgcolor="#B49348" width="8%">
      <center><a class="at" href="/editComent/{{i.0}}">Editar</a></center>
      </td>
      <td bgcolor="#B49348" width="8%">
      <center><a class="at" href="/borrarComent/{{i.0}}">Borrar</a></center>
      </td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
  </td>
  </tr>
  </tbody>
  </table></center><br><br>
{% endblock %}
