{% extends "layout.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> 
<link rel="stylesheet" href="../static/css/style.css">
<!------carousel--------------->

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/236x/74/cf/1c/74cf1c962cc9cd69d63b6cb69c0361bd.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cliente</h5>
        <p>¡Registro!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/236x/6c/6f/96/6c6f96585bcc78da7595a76bec96abd2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cliente</h5>
        <p>Gracias por registrarse</p>
      </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!------fin carousel--------------->
<br><br>
<div class="container"><div class="row">
  <center><div class="col-6" id="cuadro">
  <center><form action="/editar_cliente/{{comentar.0}}" method="post">
      <br><h3>INICIAR SESION</h3><br> 
      <input type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre" value="{{comentar.1}}"></input><br>
      <input type="text" class="form-control" name="direccion" id="direccion" placeholder="direccion" value="{{comentar.4}}"></input><br>
      <input type="tel" class="form-control" name="telefono" id="telefono" placeholder="telefono" value="{{comentar.5}}"></input><br>
      <input type="email" class="form-control" name="correo" id="correo" placeholder="correo" value="{{comentar.2}}"></input><br>
      <input type="text" class="form-control" name="contra" id="contra" placeholder="contraseña" value="{{comentar.3}}"></input><br>
      <button type="submit" class="btn btn-primary">Actualizar</button><br>
  </form></center></div></center></div></div>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
